    @font-face {
        font-family: 'Domaine Display Narrow Extrabold';
        font-style: normal;
        font-weight: normal;
        src: local('Domaine Display Narrow Extrabold'), url('DomaineDispNar-Extrabold.woff') format('woff');
    }

    @font-face {
        font-family: 'Niconne';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Niconne-Regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: normal;
        src: url('../fonts/Montserrat-Regular.woff') format('woff');
    }

    @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}


.grid{
    display: grid;
    gap: 1.25rem;
}

section{
    padding: 4.5rem 0 1rem;
}


.section{
    background-image:url(../images/imageb.png);
    background-attachment:fixed;
    background-position:100% 100%;
    height: 100vh;
    background-size: cover;
}



h2 a{
    color: #FFEED6;
    font-family: 'Niconne';
    font-size: 2em;
    transition: 0.6s;
    text-align: center;
    padding-top: 10px;
    position: relative;
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 600;
    opacity: 0.8   ;
}

h2 a:after{
    content: "";
    transition: 0.5s;
    position: absolute;
    background-color: #FFEED6;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -1px;
    border-radius: 50px;
}

h2 a:hover{
  opacity: 1;
  transition: 1s;
  color: #FFEED6;
}

h2 a:hover:after{
  width: 100%;
}


.contact__container{
    row-gap: 3rem;
    padding-bottom: 3rem;
}

.contact__title{
    text-align: center;
    font-size: 16px;
    margin-bottom: 1.5rem;
}

.contact__info{
    display: grid;
    gap: 1rem;
}

.contact__card{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3)  51%, rgba(255, 255, 255, 0.1)  100%);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}

.contact__card-icon{
    font-size: 2rem;
    margin-bottom: .25rem;
}

.contact__card-title, 
.contact__card-data{
    font-size: 12px;
}

.contact__card-title{
    font-weight: 500;
}

.contact__card-data{
    display:  block;
    margin-bottom: .75rem;
}

.contact__button{
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}

.contact__button:hover .contact__button-icon{
    transform: translateX(.25rem);
}

.contact__button-icon{
    font-size: 1rem;
    transition: .4s;
}

.contact__form{ 
}

.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    background: none;
    color: white;
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.contact__form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: 12px;
    padding: .25rem;
    background-color: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.3)  51%, rgba(255, 255, 255, 0.1)  100%);
    z-index: 10;
}

.contact__form-area{
    height: 7rem;
}

.contact__form-area textarea{
    resize: none;
}

@media screen and (min-width: 576px){
    .contact__info{
        grid-template-columns: 300px;
        justify-content: center;
    }

    .contact__form{
        width: 360px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 767px){
    .contact__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 3rem;
    }

    .contact__form{
        width: 360px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px){
    .contact__info{
        column-gap:2rem;
    }
}